Repository aiken-lang/aiken, pull requests merged in 2022-11, with the labels that each got.

#88 Implement `aiken fmt`
  Cargo.lock
  crates/cli/src/cmd/fmt.rs
  crates/cli/src/cmd/mod.rs
  crates/cli/src/lib.rs
  crates/cli/src/main.rs
  crates/lang/Cargo.toml
  crates/lang/src/ast.rs
  crates/lang/src/expr.rs
  crates/lang/src/format.rs
  crates/lang/src/lib.rs
  crates/lang/src/parser.rs
  crates/lang/src/parser/error.rs
  crates/lang/src/parser/extra.rs
  crates/lang/src/parser/lexer.rs
  crates/lang/src/parser/token.rs
  crates/lang/src/pretty.rs
  crates/lang/src/tests/lexer.rs
  crates/lang/src/tests/parser.rs
  crates/lang/src/tipo.rs
  crates/lang/src/tipo/environment.rs
  crates/lang/src/tipo/expr.rs
  crates/lang/src/tipo/infer.rs
  crates/lang/src/tipo/pattern.rs
  crates/lang/src/tipo/pipe.rs
  crates/project/Cargo.toml
  crates/project/src/error.rs
  crates/project/src/format.rs
  crates/project/src/lib.rs
  examples/sample/src/sample.ak
  examples/sample/src/sample/context.ak
  examples/sample/src/sample/mint.ak
  examples/sample/src/sample/spend.ak
  examples/sample/src/scripts/swap.ak
Labels: aiken lang, parsing, cli, fmt

#106 Fix LSP formatting
  crates/lsp/src/error.rs
  crates/lsp/src/lib.rs
  crates/lsp/src/server.rs
Labels: cli, fmt, lsp

#107 Add `Data` to prelude
  crates/lang/src/builtins.rs
  crates/lang/src/tipo/environment.rs
Labels: aiken lang, typechecking

#111 deconstruct record fields in when expressions
  crates/lang/src/uplc.rs
  examples/sample/lib/sample.ak
  examples/sample/validators/swap.ak
Labels: aiken lang, code gen

#130 implicit discard in list patterns
  crates/lang/src/parser.rs
Labels: bug, aiken lang, parsing

#132 Display file name in cli errors
  crates/project/src/error.rs
  crates/project/src/lib.rs
Labels: enhancement, aiken lang, cli

#133 Support self recursion functions and fix making constr
  crates/lang/src/uplc.rs
  examples/sample/validators/swap.ak
Labels: aiken lang, code gen

#136 Optionally dump raw uplc on build
  crates/cli/src/cmd/build.rs
  crates/project/src/lib.rs
Labels: code gen, cli

#137 snake_case builtins
  crates/lang/src/builtins.rs
  crates/uplc/src/builtins.rs
  examples/aiken_std/lib/aiken/bytearray.ak
  examples/aiken_std/lib/aiken/context.ak
  examples/aiken_std/lib/aiken/list.ak
Labels: aiken lang

#145 Tuples
  crates/lang/src/ast.rs
  crates/lang/src/builtins.rs
  crates/lang/src/expr.rs
  crates/lang/src/format.rs
  crates/lang/src/parser.rs
  crates/lang/src/parser/error.rs
  crates/lang/src/parser/lexer.rs
  crates/lang/src/parser/token.rs
  crates/lang/src/tipo.rs
  crates/lang/src/tipo/environment.rs
  crates/lang/src/tipo/expr.rs
  crates/lang/src/tipo/hydrator.rs
  crates/lang/src/tipo/infer.rs
  crates/lang/src/tipo/pattern.rs
  crates/lang/src/tipo/pretty.rs
  crates/lang/src/uplc.rs
  examples/sample/validators/swap.ak
Labels: aiken lang, parsing, typechecking

#152 Language Tour
  book/src/SUMMARY.md
  book/src/introduction.md
  book/src/language-tour/assert.md
  book/src/language-tour/blocks.md
  book/src/language-tour/bool.md
  book/src/language-tour/bytearray.md
  book/src/language-tour/check.md
  book/src/language-tour/comments.md
  book/src/language-tour/constants.md
  book/src/language-tour/custom-types.md
  book/src/language-tour/data.md
  book/src/language-tour/functions.md
  book/src/language-tour/int.md
  book/src/language-tour/list.md
  book/src/language-tour/matching.md
  book/src/language-tour/modules.md
  book/src/language-tour/option.md
  book/src/language-tour/string.md
  book/src/language-tour/todo.md
  book/src/language-tour/tuple.md
  book/src/language-tour/type-aliases.md
  book/src/language-tour/variables.md
  crates/lang/src/parser.rs
  crates/lang/src/parser/error.rs
  crates/lang/src/tipo/error.rs
  crates/project/src/error.rs
  examples/sample/validators/swap.ak
Labels: documentation, aiken lang
